bcrypt==4.1.2
beautifulsoup4==4.12.2
cachetools==5.3.2
gitdb==4.0.11
GitPython==3.1.40
langchain==0.0.351
langchain-community==0.0.4
langchain-core==0.1.1
langsmith==0.0.72
mypy-extensions==1.0.0
mysql-connector==2.2.9
mysql-connector-python==8.2.0
numpy==1.26.2
openai==1.6.0
pandas==2.1.4
Pillow==10.1.0
pyarrow==14.0.2
pydantic==2.5.2
pydantic_core==2.14.5
pydeck==0.8.1b0
python-dateutil==2.8.2
python-dotenv==1.0.0
SQLAlchemy==2.0.23
streamlit==1.29.0
streamlit-authenticator==0.2.3
toml==0.10.2
